# Visual Studio Code # 
.vscode
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history

Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.git
public/media