replicaCount: 4
volumeMountPath: 'shared-master'
musicVolumeMountPath: 'shared-media'
usersVolumeMountPath: 'node5-disk-2'
nginxServiceName: nginx-api
branch: 'main'

config:
  MONGO_URI: mongodb://mongo-api.video-downloader.svc.cluster.local

image:
  registry: christopherguzman
  repository: video-downloader
  tag: latest
  pullPolicy: Always

service:
  type: ClusterIP
  externalPort: 80
  internalPort: 3000

ingress:
  enabled: true
  host: vd.iguzman.com.mx

# resources:
#   limits:
#     cpu: 512m
#     memory: 512Mi
#   requests:
#     cpu: 100m
#     memory: 128Mi

startupProbe:
  exec:
    command:
      - cat
      - /app/media/healthy
  failureThreshold: 1
  periodSeconds: 10

livenessProbe:
  exec:
    command:
      - cat
      - /app/media/healthy
  initialDelaySeconds: 5
  periodSeconds: 10

deployment:
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: nodeName
                operator: In
                values:
                  - node1
                  - node4
                  - node5
                  - node6
  # nodeSelector:
  #   heavyWorkerNode: 'true'
