replicaCount: 1
name: plex

image:
  registry: docker.io
  repository: nginx
  tag: latest
  pullPolicy: Always

service:
  type: ClusterIP
  externalPort: 80
  internalPort: 80
  serverIP: 127.0.0.1
  serverPort: 0000

ingress:
  enabled: true
  host: media.iguzman.com.mx

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 64Mi

deployment:
  nodeSelector:
    nodeName: node1
